* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

main {
  margin: auto;
  max-width: 1024px;
}
/* header section */
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}
ul {
  list-style: none;
  height: 100%;
  display: flex;
}
li a {
  display: block;
  color: #000;
  margin: auto;
  padding: 8px 16px;
  text-decoration: none;
}
.active:hover {
  background-color: teal;
}
.header li a:hover {
  background-color: #555;
  color: white;
}
.active {
  background-color: teal;
  color: white;
}
.header input {
  padding: 6px;
  margin: auto;
  border: none;
  font-size: 17px;
}
.logo img {
  width: 100px;
  float: left;
}
.search {
  border: none;
  cursor: pointer;
  width: 30px;
}
/* main section */
.pic {
  width: 100%;
  height: 100%;
  padding: 50px;
}
h2 {
  text-align: center;
}
.flex {
  display: flex;
}
.flex div {
  margin: 10px;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  border-style: solid;
}
.flex button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: teal;
}
/* footer section */
footer {
  display: flex;
  width: 100%;
  background-color: darkgray;
}
.social ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.social li a {
  display: block;
  color: #000;
  margin: auto;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transform: translate(590px);
}
.social img {
  width: 40px;
  vertical-align: middle;
  transform: translate(735px);
  padding: 5px;
}
.logo-footer img {
  height: 150px;
  vertical-align: middle;
}
.logo-footer p {
  display: inline-block;
  font-size: 30px;
}
.logo-footer button {
  border: none;
  cursor: pointer;
}
/* about main */
.bio {
  display: flex;
}
.bio div {
  padding: 50px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  width: 1024px;
}
/* contact main */
form {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  border: solid;
  padding: 20px;
  width: 500px;
  justify-content: center;
}
.fname {
  display: flex;
  justify-content: center;
}
.submit {
  padding: 10px 20px;
  background-color: teal;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: darkslategray;
}
